<%= stylesheet_link_tag 'profile_page' %>
<div class="games-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/300x300" %>
        <%= image_tag avatar_url, id: "profile_picture" %>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="game-rental-listing">
          <%= render "users/current_listing" %>
        </div>
        <div class="game-borrowing-list">
          <%= render "users/rental" %>
        </div>
      </div>
    </div>
  </div>
</div>
