<h2>Rental details</h2>
<p>Game: <%= @rental.game.name %></p>
<p>Game owner: <%= @rental.game.owner.username %></p>
<p>Game lent to: <%= @rental.user.username %></p>
<p>Due date: <%= @rental.end_date %></p>
<p>Price: <%= @rental.price %></p>
