<div id="hero-wpr">
  <div class="container">
    <div class="row">

      <div id="hero-box">
      <h1 class="text-center font-weight-extra-bold">press start</h1>
      <h2 class="text-center font-weight-light font-body font-body">find a game to rent</h2>

      <%= form_tag(games_path, :method => "get", id: "search-form", class: "center-block") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control input-size-large" %>
      </div>
      <%= submit_tag "start", :name => nil, class: "center-block btn btn-primary font-weight-extra-bold" %>
      <% end %>
      </div>

    </div>
  </div>
</div>

<div id="consoles-wpr">
  <div class="container">
    <div class="row">
      <h2 class="text-center text-lowercase font-weight-extra-bold">pick a console</h2>
      <div class="col-sm-4">
        <%= link_to "", console_path, :class => "btn btn-inverse console-link" do %>
          <h3 class="text-center text-lowercase font-weight-light font-body">Xbox</h3>
          <%= image_tag("xbox.png", :alt => "xbox", :class => "console-img img-responsive") %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <a href="#" class="console-link">
          <h3 class="text-center text-lowercase font-weight-light font-body">N64</h3>
          <%= image_tag("n64.png", :alt => "n64", :class => "console-img img-responsive") %>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="console-link">
          <h3 class="text-center text-lowercase font-weight-light font-body">Super NES</h3>
          <%= image_tag("snes.png", :alt => "snes", :class => "console-img img-responsive") %>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="console-link">
          <h3 class="text-center text-lowercase font-weight-light font-body">Wii</h3>
          <%= image_tag("wii.png", :alt => "wii", :class => "console-img img-responsive") %>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="console-link">
          <h3 class="text-center text-lowercase font-weight-light font-body">Gamecube</h3>
          <%= image_tag("gamecube.png", :alt => "gamecube", :class => "console-img img-responsive") %>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="console-link">
          <h3 class="text-center text-lowercase font-weight-light font-body">Playstation</h3>
          <%= image_tag("playstation.png", :alt => "playstation", :class => "console-img img-responsive") %>
        </a>
      </div>
    </div>
  </div>
</div>
