<section id="hero-wpr">
  <div class="container">
    <div class="row">

      <div id="hero-box">
      <header class="caption-margin-btm">
        <h1 class="text-center header-text header-alt1"><i class="fa fa-play faa-horizontal blink"></i>press start</h1>
        <h2 class="text-center caption-text header-alt1">find a game to rent</h2>
      </header>

      <%= form_tag(games_path, :method => "get", id: "search-form", class: "center-block") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control input-size-large" %>
      </div>
      <%= submit_tag "start", :name => nil, class: "center-block btn btn-primary font-weight-extra-bold" %>
      <% end %>
      </div>

    </div>
  </div>
</section>

<div id="consoles-wpr" class="wrapper">
  <div class="container">
    <div class="row">
      <h2 class="text-center header-text">pick a console</h2>
      <% Game::CONSOLES.each do |platform| %>
        <div class="col-sm-4">
          <h3 class="text-center text-lowercase font-weight-light font-body font-body-size"><%= platform %></h3>
          <%= link_to image_tag("#{platform}.png", :alt => "#{platform}", :class => "console-img img-responsive"), console_path(platform), :class => "console-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
