<div id="hero-wpr">
  <div class="container">
    <div class="row">

      <div id="hero-box">
      <h1 class="text-center font-weight-extra-bold">press start</h1>
      <h2 class="text-center font-weight-light font-body font-body">find a game to rent</h2>

      <%= form_tag(games_path, :method => "get", id: "search-form", class: "center-block") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control input-size-large" %>
      </div>
      <%= submit_tag "start", :name => nil, class: "center-block btn btn-primary font-weight-extra-bold" %>
      <% end %>
      </div>

    </div>
  </div>
</div>

<div id="consoles-wpr">
  <div class="container">
    <div class="row">
      <h2 class="text-center text-lowercase font-weight-extra-bold">pick a console</h2>
      <% Game::CONSOLES.each do |platform| %>
        <div class="col-sm-4">
          <h3 class="text-center text-lowercase font-weight-light font-body"><%= platform %></h3>
          <%= link_to image_tag("#{platform}.png", :alt => "#{platform}", :class => "console-img img-responsive"), console_path(platform), :class => "btn btn-inverse console-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
