 <div class="search-listings wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-margin-btm">
        <h1 class="header-text header-main">game matches</h1>
        <h2 class="font-weight-light font-body font-body no-whitespace"><%= params[:search] == "" ? "All games" : "search results for: #{params[:search]}"%></h2>
      </div>
      <% if !@games.blank? %>
        <% @games.each do |game|  %>
          <div class="col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path game.photo.nil? ? 'http://placehold.it/300x400' : game.photo.path, height: 300, width: 400, crop: :fill %>')">
              <div class="card-body">
                <div class="card-console"><%= "#{game.console}" %></div>
                <div><%= image_tag "#{game.console}-white.png", class: "card-avatar" %></div>
                <div class="card-name">
                  <p class="game-name"><%= "#{game.name}" %></p>
                  <% if game.available? == true %>
                    <p class="available-active">AVAILABLE</p>
                  <% else %>
                    <p class="available-active">CURRENTLY UNAVAILABLE</p>
                  <% end %>
                </div>
              </div>
              <%= link_to "", game_path(game), class: "card-link" %>
            </div>
          </div>
          <% end %>
        <% else %>
          <div class="col-sm-12">
            <p>Nothing found :(</p>
          </div>
      <% end %>
    </div>
  </div>
</div>
