<div class="game-details wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-margin-btm">
        <h1 class="header-text header-main"><%= @game.name %></h1>
        <h2 class="subheading-text"><%= image_tag "#{@game.console}.png", :class => "console-image" %> <%= @game.console %></h2>
      </div>
      <div class="col-sm-4">
        <% if @game.photo.blank? %>
          <p>no image here.
            <% if current_user == @game.owner %>
              <%= link_to "Add one!", edit_game_path(@game)  %></p>
            <% else %>
              </p>
            <% end %>
        <% else %>
          <%= cl_image_tag @game.photo.path, class: "img-responsive" %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <p><%= @game.description %></p>
      </div>
<!--       <div class="col-sm-4">
        <div class="rental-box">
          <%# if @game.owner == current_user %>
            <p><b>Game borrower</b><br/>FixThis UserRentingGame</p>
            <p><b>Due on:</b> FixThis</p>
            <hr/>
            <%=# link_to "edit", edit_game_path(@game), :class => "btn btn-warning" %>
            <a class="btn btn-danger">delete</a>
          <%# else %>
            <p><b>Game owner</b><br/><%= link_to "#{@game.owner.email}", user_path(@game.owner) %></p>
            <p><b>Pickup Location</b><br/><%= @game.location %></p>
            <hr/>
            <%=# simple_form_for([@game, @rental]) do |f| %>
              <%# f.input :price %>
              <%=# f.input :start_date, as: :date, input_html: { min: Date.today }%>
              <%=# f.input :end_date, as: :date, input_html: { min: Date.today+1.days }%>
              <%=# f.submit "rent", :class => "btn btn-info" %>
            <%# end %>
          <%# end %>
        </div>
      </div> -->
      <% else %>
        <%= cl_image_tag @game.photo.path, class: "img-responsive" %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <p><%= @game.description %></p>
    </div>
    <div class="col-sm-4">
       <p>Game owner: <%= link_to "#{@game.owner.email}", user_path(@game.owner) %></p>
      <p><b>Pickup Location</b><br/><%= @game.location %></p>

      <% @game.rentals.each do |rental| %>
      <% rental.destroy if Date.today > rental.end_date %>
      <% end %>

      <% rental = Rental.where(game_id: @game.id) %>
      <% case @status %>
        <% when "edit"  %>
       <%= link_to "edit your listing", edit_game_path(@game), :class => "btn btn-primary" %>
        <% when "unavailable" %>
        <p>This game is currently on loan and will be available for rental after <%= rental[0].end_date.to_date %></p>
        <% when "future_rental" %>
         <p>This game is unavailable from <%= rental[0].start_date.to_date %> to <%= rental[0].end_date.to_date %> </p>
         <%= render 'form' %>
        <% when "available" %>
        <% @game.update(available?: true) %>
        <% @game.save %>
        <%= render 'form' %>
        <% end %>
    </div>
  </div>
</div>

<!--
<% if current_user == @game.owner %>
  <% if @game.avaliable? == true %>
    render edit button
    <% else %>
    <p>You cant edit a game being rented out</p>
  <% end %>
<% else %>
  <% if @game.avaliable? == true %>
    render rental form
    <% else %>
     <p> Days left until you can rent: @game.due_date - Time.now </p>
  <% end %>
<% end %>
-->
