<div class="game-details wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-margin-btm">
        <h1 class="header-text header-main"><%= @game.name %></h1>
        <h2 class="subheading-text"><%= image_tag "#{@game.console}.png", :class => "console-image" %> <%= @game.console %></h2>
      </div>
      <div class="col-sm-4">
        <% if @game.photo.blank? %>
          <p>no image here.
            <% if current_user == @game.owner %>
              <%= link_to "Add one!", edit_game_path(@game)  %></p>
            <% else %>
              </p>
            <% end %>
        <% else %>
          <%= cl_image_tag @game.photo.path, class: "img-responsive" %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <p><%= @game.description %></p>
      </div>
      <div class="col-sm-4">
        <div class="rental-box">
         <p><b>Game Owner</b><br/><%= link_to "#{@game.owner.email}", user_path(@game.owner) %></p>
          <p><b>Pickup Location</b><br/><%= @game.location %></p>
          <% case @status %>
          <% when "edit"  %>
          <%= link_to "edit", edit_game_path(@game), :class => "btn btn-info" %>
          <% when "unavailable" %>
          <%= render "rentals" %>
          <p>This game is currently on loan and will be available for rent after <%= @game.rentals.first.end_date.to_date %></p>
          <% when "future_rental" %>
          <%= render "rentals" %>
           <p>This game is unavailable from <%= @game.rentals.first.start_date.to_date %> to <%= @game.rentals.first.end_date.to_date %> </p>
           <%= render 'rentals/form' %>
          <% when "available" %>
          <% @game.update(available?: true) %>
          <% @game.save %>
          <%= render 'rentals/form' %>
          <% end %>
        </div>
        </div>
    </div>
  </div>
</div>


