<div class="login-wrapper wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="signin">
          <h2 class="font-weight-extra-bold white-font">log in</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs white-font">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <div class="form-actions white-font">
              <%= f.button :submit, "log in", class: "btn btn-primary" %>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


